


body {
    background-color: rgb(32, 34, 37);  
    margin: 0;
}

.liczbawelne {
  background-color: #9da9ac;
  width: 60%;
  margin-left: 20px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 5px;
  border-style: inset;
  border-color:rgb(185, 200, 212);
  flex: 33%;
}
.liczbawelne2 {
  position: relative;
  top: -45px;
  left: 50px;
  color:#2a3236;
  font-size: 150%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.liczevent {
  background-color: #f3bdb6;
  width: 60%;
  margin-left: 20px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 5px;
  border-style: inset;
  border-color:rgb(238, 93, 74);
  flex: 33%;
}
.liczevent2 {
  position: relative;
  top: -40px;
  left: 50px;
  color:#be130d;
  font-size: 150%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.fleks {
  width: 30%;
}
.liczresety {
  background-color: #e71313;
  width: 30%;
  margin-left: 20px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 5px;
  border-style: inset;
  border-color:rgb(145, 11, 11);
  flex:33%;
}
.liczresety2 {
  position: relative;
  top: -45px;
  left: 45px;
  color:#8b0f0f;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.liczziarna {
  background-color: #ddbf14;
  width: 30%;
  margin-left: 20px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 5px;
  border-style: inset;
  border-color:rgb(226, 194, 9);
  flex:33%;
}
.liczziarna2 {
  position: relative;
  top: -45px;
  left: 45px;
  color:#0e344d;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.liczcukierki{
  background-color: #a528df;
  width: 60%;
  margin-left: 20px;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 5px;
  border-style: inset;
  border-color:rgb(0, 0, 0);
  flex: 33%;
}
.liczcukierki2 {
  position: relative;
  top: -45px;
  left: 50px;
  color:#000000;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.klikanie {
  height: 300px;
  width: 300px;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
}
.particle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 10%;
}
.srodek {
  transition: 100ms;
  position: relative;
  left: -60%;
  top: -40%;
}
.srodek:hover {
  cursor: pointer;
}
.srodek:active {
  transform: scale(1.05);
}
.container {
  padding: 20px;
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.przycisksklep {
  width: 80px;
  height: 80px;
  background-color: #393c41;
  border-radius: 50px;
  margin-left: 10px;
  margin: 5px;
}
.przycisksklep2 {
  width: 80px;
  height: 80px;
  background-color: #393c41;
  border-radius: 50px;
  margin-left: 10px;
  margin: 5px;
}
.przycisksklep3 {
  width: 80px;
  height: 80px;
  background-color: #393c41;
  border-radius: 50px;
  margin-left: 10px;
  margin: 5px;
}
.przycisksklep4 {
  width: 80px;
  height: 80px;
  background-color: #393c41;
  border-radius: 50px;
  margin-left: 10px;
  margin: 5px;
}
.przycisksklep5 {
  width: 80px;
  height: 80px;
  background-color: #393c41;
  border-radius: 50px;
  margin-left: 10px;
  margin: 5px;
}
.przycisksklep6 {
  width: 80px;
  height: 80px;
  background-color: #393c41;
  border-radius: 50px;
  margin-left: 10px;
  margin: 5px;
}
.przycisksklep8 {
  width: 80px;
  height: 80px;
  background-color: #393c41;
  border-radius: 50px;
  margin-left: 10px;
  margin: 5px;
}

.przycisksklep7 {
  width: 75px;
  height: 75px;
  background-color: #ebe6df;
  border-radius: 50px;
  margin-left: 10px;
  margin: 5px;
  border-style: outset;
  border-color: rgb(253, 106, 106);
}
.przycisksklep:hover {
  cursor: pointer;
  background-color: #fff;
}
.przycisksklep2:hover {
  cursor: pointer;
  background-color: #fff;
}
.przycisksklep3:hover {
  cursor: pointer;
  background-color: #fff;
}
.przycisksklep4:hover {
  cursor: pointer;
  background-color: #fff;
}
.przycisksklep5:hover {
  cursor: pointer;
  background-color: #fff;
}
.przycisksklep6:hover {
  cursor: pointer;
  background-color: #fff;
}
.przycisksklep7:hover {
  cursor: pointer;
  background-color: #fff;
}
.przycisksklep8:hover {
  cursor: pointer;
  background-color: #fff;
}
.xd22:hover {
  width: 72px;
  height: 72px;
}
.xd21 {
  position: relative;
  left: 12px;
  top: 15px;
}
.xd21:hover {
  width: 52px;
  height: 52px;
}
.xd20 {
  position: relative;
  left: 12px;
  top: 15px;
}
.xd20:hover {
  width: 59px;
  height: 54px;
}
.sklepy {
  background-color: #2a3236;
  position: absolute;
  top: 15%;
  left: 30%;
  display: flex;
  width: 40%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 4000;
}
.napiswsklepie {
  position: relative;
  top: -50px;
  left: 33%;
  font-size: 20px;
  color:rgb(73, 107, 128);
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
}
.napiswupach {
  position: relative;
  top: 0px;
  left: 1px;
  font-size: 20px;
  color:rgb(73, 107, 128);
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
}
.eventnazwa {
  position: relative;
  top: 5px;
  left: 1px;
  font-size: 20px;
  color:rgb(201, 48, 17);
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
}
.tekst1 {
  position: relative;
  top: 15px;
  left: 22%;
}
.tekst {
  position:relative;
  left: 15%;
  
}
.tekst3 {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;

}
.ulepszenie {
  width: 500px;
  height: 100px;
  background-color: #4f6068;
  position: relative;
  left: 50px;
  top: -20px;
  border-radius: 30px;
  border-style: inset;
  margin: 10px;
}
.ulepszenie:hover {
  cursor: pointer;
  background-color: #6d7d85;
}
.kolekcja {
  position: relative;
  top:-450px;

}
.ikonaulepki {
  background-color: #b6cad3;
  padding: 10px;
  border-radius: 20px;
  height: 50px;
  width: 50px;
  position: relative;
  top: 10px;
  left: 10px;
}
.zdjecie {
  position: relative;
  top: -20px;
  left: -5px;
}
.zdjecie2 {
  position: relative;
  top: -20px;
  left: 2px;
}
.nazwaulepki {
  color:rgb(67, 167, 230);
  position: relative;
  top: -70px;
  left: 95px;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.opisulepki {
  color:rgb(185, 181, 181);
  position: relative;
  top: -70px;
  left: 95px;
  font-size: 12px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.kosztulepki {
  color:rgb(71, 194, 40);
  position: relative;
  top: -120px;
  left: 430px;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.czarnuch1 {
  position: absolute;
  left: 740px;
  top: 200px;
  width: 10%;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-name:orbit;
  animation-duration:5s;
}
.czarnuch2 {
  position: absolute;
  left: 790px;
  top: 150px;
  width: 10%;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-name:orbit;
  animation-duration:5s;

}
.czarnuch3 {
  position: absolute;
  left: 840px;
  top: 120px;
  width: 10%;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-name:orbit;
  animation-duration:5s;
}
.rebirthy {
  background-color: #2a3236;
  position: absolute;
  top: 15%;
  left: 35%;
  display: flex;
  width: 33%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 4000;
}
.opisrebirth1 {
  position: relative;
  top: -30px;
  left: 10px;
  color:rgb(67, 167, 230);
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.opisrebirth2 {
  position: relative;

  left: 10px;
  color:rgb(182, 218, 240);
  font-size: 15px;
  letter-spacing: 1px;
  text-align: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.zdjeciee {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: 20px;
}
.walutaziarna {
  position: relative;
  top: 40px;
}
.przyciskreset {
  position: relative;
  height: 50px;
  width: 300px;
  background-color: #4d7d94;
  border-radius: 30px;
  margin: auto;
  text-align: center;
}
.przyciskreset:hover {
  cursor: pointer;
  background-color: rgb(27, 128, 168);
}
.res1 {
  text-align: center;
  position: relative;
  top: 15px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
}

.koszta {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(231, 225, 223);
  font-size: 25px;
  position: relative;
  top: 70px;
  left: -68%;
  letter-spacing: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.ziarnasklep {
  background-color: #2a3236;
  position: absolute;
  top: 15%;
  left: 8%;
  display: flex;
  min-width: 90%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 4000;
}
.worldmap {
  background-color: #2a3236;
  position: absolute;
  top: 15%;
  left: 8%;
  min-width: 90%;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 4000;

}
.worldflex {
  flex-wrap: wrap;
  display: flex;
}
.worldselect {
  background-color: rgba(45, 45, 45, 1);
  background-image: radial-gradient(circle, rgba(45, 45, 45, 1) 0%, rgba(0, 0, 0, 1) 77%);
  border-radius: 10%;
  width: 300px;
  height: 350px;
  margin: 10px;
  transition: 300ms;
	background-size: 300% 500%;

}
.worldselect:hover {
  transform: perspective(6cm) rotateX(-5deg) rotateY(5deg);
}
.worldname {
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 25px;
  height: 10%;
}
.worldimage {
  margin: auto;
  width: 200px;
  height: 200px;
  opacity: 50%;
  transition: 1000ms;
}
.worldselect .worldimage:hover {
  opacity:100%;
  cursor: pointer;
  transform: scale(1.01);
}
.worldcost {
  color: rgb(35, 224, 238);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 50px;
  height: 10%;
  opacity: 80%;
}
.worldlvl {
  float: left;
  position: relative;
  left: 35%;
  top: 18px;

}
.worldexit {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 10px;
  margin: 20px;
}
.worldA {
  display: flex;
  flex-wrap: wrap;
}
.worldcollect {
  color: rgb(250, 250, 250);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 50px;
  height: 10%;
  opacity: 80%;
}
.worldcollect2 {
  color: rgb(250, 250, 250);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 50px;
  height: 10%;
  opacity: 80%;
  position: relative;
  right: 20%;
}
.worldclick2 {
  transition: 100ms;
  position: relative;
  left: 20%;
  top: 100px;
}
.worldclick2:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.worldclick2:active{
  transform: scale(1.05);
  cursor:pointer;
}
.worldA1 {
  flex: 25%;
  height: 100%;
}
.worldA2 {
  flex:75%;
  height: 100%;
}
.worldbudynek {
  background-color: rgb(110, 105, 105);

  border-radius: 10%;
  width: 250px;
  height: 250px;
  position: relative;
  top: 100px;
  margin: 10px;
  transition: 300ms;
	background-size: 300% 500%;
}
.worldcount {
  color: rgb(0, 109, 252);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 15px;
  height: 10%;
  padding: 10px;

}
.chinybuild {
  position: relative;
  top: -55px;
  left: 10%;
  height: 200px;

}
.collector {
  border-style: solid;
  border-color:rgb(0, 109, 252);
  height: 30px;
  width: 80px;
  position: relative;
  top: -100px;
  border-radius: 15px;
  color: white;
  font-family: 'Oswald', sans-serif;
  margin: 10px;
  text-align: center;
}
.collector:hover {
  cursor:pointer;
  border-color: white;
}
.odstep {
  display: flex;

  width: 100px;
}
.odstep2 {
  flex: 90%;
  width: 80%;
}
.display {
  display: flex;
}
.sloty {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.slota {
  width: 150px;
  height: 150px;
  background-color: #e7d98b;
  margin: 15px;
  border-radius: 30px;
}
.slota:hover {
  background-color: #eceada;

  border-radius: 30px;
  width: 150px;
  height: 140px;
  cursor: pointer;
}
.kupuj {
  width: 150px;
  height: 50px;
  background-color: #f0a70a;
  margin: 15px;
  border-radius: 30px;
  color:rgb(0, 0, 0);
  font-size: 25px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.kupuj:hover{
  background-color: white;
  cursor: pointer;
}
.zdj4 {
  position: relative;
  top: 10px;
}
.informacja {
  text-align: center;
  color: white;
  font-size: 25px;
}
#informacja2 {
  text-align: center;
  color: white;
  font-size: 25px;
}
.opcja1 {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  flex-wrap: wrap;

}
.budynkiclass {
  background-color: #2a3236;
  position: absolute;
  top: 15%;
  left: 35%;
  display: flex;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 4000;
}
.budynek {
  background-color: #242529;
  width: 100%;
  height: 90px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border-style: outset;
  border-color:rgb(179, 27, 27);
  display: flex;
}
.budynek:hover {
  background-color: #1b1c1f;
  cursor: pointer;
}
.budynek1 {
  border-radius: 5px;
  border-style: outset;
  border-color:rgb(38, 172, 224);
  height: 60px;
  width: 60px;
  position: relative;
  top: 12px;
  left: 10px;
}
.wodnezrodlo1 {
  position: relative;
  left: 5px;
  top: 5px;
}
.opis {
  color:rgb(151, 15, 15);
  font-size: 15px;
  position: relative;

  left: 20px;
  width: 50%;
}
.liczba {
  width: 25px;
  position: relative;
  left: 80px;
  font-size: 50px;
  color: rgb(102, 11, 11);
  text-align: left;
  top: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.liczba2 {
  width: 25px;
  position: relative;

  font-size: 25px;
  color: rgb(53, 169, 236);
  text-align: left;
  left: 15px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.podpis {
  color:rgb(235, 221, 30);
  font-size: 15px;
  position: relative;

  left: 20px;
  width: 50%;
}
.expcounter {
  width: 30%;
  height: 100px;
  
}
.pozycja {
  display: flex;
  width: 90%;
}
.xpbar {
  background-color: #393c41;
  width: 40%;
  height: 50px;
  position: relative;
  top: 20px;
  left: 40px;
  color:rgb(71, 164, 223);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-radius: 40px;
}
.lvlbar {
  background-color: #3bbcf8;
  height: 50%;
  width: 10%;
  border-radius: 40px;
  position: relative;
  top: -33%;
  border-style: inset;
  border-color:rgb(32, 32, 32);
  color:rgb(255, 255, 255);
  text-align: center;

}



@keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}
.progressbarWrapper {
  height: 30px;
  width: 500px;
  max-width: 80%;
  display: block;
  margin: auto;
  margin-top: 20vh;
  position: relative;
  background: #555;
  padding: 3px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  position:relative;
  top: -300px;
}

#greenBar {
  display: block;
  height: 100%;
  width: 0px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  position: relative;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  color: white;
  transition: all 700ms ease;
}
#greenBar2 {
  display: block;
  height: 100%;
  width: 0px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  position: relative;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  color: white;
  transition: all 700ms ease;
}
#greenBar3 {
  display: block;
  height: 100%;
  width: 0px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  position: relative;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  color: white;
  transition: all 700ms ease;
}
.id_common {
  background: linear-gradient(-45deg, #797776, #a7a4a1, #6b777c, #757474);
  background-size: 400% 400%;
  min-height: 100px;
  max-height: 150px;
  min-width: 100px;
  max-width: 150px;
  border-style: outset;
  border-color: #2e302e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  opacity: 80%;
  transition: 400ms;
  overflow: hidden;

}
.id_common:hover {
  transform:scale(1.05);
  opacity: 100%;
  cursor:pointer;
  background-position:45% 80%;
  font-size: 20px;
}
.id_uncommon {
  background: linear-gradient(-45deg, #66E722, #55BF1D, #49991F , #4BBD0E);
  background-size: 400% 400%;
  min-height: 100px;
  max-height: 150px;
  min-width: 100px;
  max-width: 150px;
  border-style: outset;
  border-color: #2e302e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  opacity: 80%;
  transition: 400ms;
  overflow: hidden;

}
.id_uncommon:hover {
  transform:scale(1.05);
  opacity: 100%;
  cursor:pointer;
  background-position:45% 80%;
  font-size: 20px;
}
.id_rare {
  background: linear-gradient(-45deg, #308AF1, #74B5FF, #5688C0 , #0C7BF9 );
  background-size: 400% 400%;
  min-height: 100px;
  max-height: 150px;
  min-width: 100px;
  max-width: 150px;
  border-style: outset;
  border-color: #2e302e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  opacity: 80%;
  transition: 400ms;
  overflow: hidden;

}
.id_rare:hover {
  transform:scale(1.05);
  opacity: 100%;
  cursor:pointer;
  background-position:45% 80%;
  font-size: 20px;
}
.id_epic {
  background: linear-gradient(-45deg, #89107B , #C419CA , #E51BEB  , #F709FE  );
  background-size: 400% 400%;
  min-height: 100px;
  max-height: 150px;
  min-width: 100px;
  max-width: 150px;
  border-style: outset;
  border-color: #2e302e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  opacity: 80%;
  transition: 400ms;
  overflow: hidden;

}
.id_epic:hover {
  transform:scale(1.05);
  opacity: 100%;
  cursor:pointer;
  background-position:45% 80%;
  font-size: 20px;
}
.id_legendary {
  background: linear-gradient(-45deg, #FEEC09 , #FAEB33 , #FFF46A  , #DCD148 );
  background-size: 400% 400%;
  background-size: 300% 500%;
	animation: gradient 1s ease infinite;
  min-height: 100px;
  max-height: 150px;
  min-width: 100px;
  max-width: 150px;
  border-style: outset;
  border-color: #2e302e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  opacity: 80%;
  transition: 400ms;
  overflow: hidden;

}
.id_legendary:hover {
  transform:scale(1.05);
  opacity: 100%;
  cursor:pointer;
  background-position:45% 80%;
  font-size: 20px;
}
.id_special {
	background: linear-gradient(-45deg, #f0ebea, #98cedf, #f88cf3, #b7f571);
	background-size: 300% 500%;
	animation: gradient 2s ease infinite;
  min-height: 100px;
  max-height: 150px;
  min-width: 100px;
  max-width: 150px;
  border-style: outset;
  border-color: linear-gradient(-45deg, #f0ebea, #98cedf, #f88cf3, #b7f571);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  opacity: 80%;
  transition: 400ms;
  overflow: hidden;

}
.id_special:hover {
  transform:scale(1.05);
  opacity: 100%;
  cursor:pointer;
  background-position:45% 80%;
  font-size: 20px;
}

.id_halloween1{
  background: linear-gradient(-45deg, #EF8003  , #F59F3E  , #DA8627   , #E5600F   );
  background-size: 400% 400%;
  min-height: 100px;
  max-height: 150px;
  min-width: 100px;
  max-width: 150px;
  border-style: outset;
  border-color: #2e302e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  opacity: 80%;
  transition: 400ms;
  overflow: hidden;

}
.id_halloween1:hover {
  transform:scale(1.05);
  opacity: 100%;
  cursor:pointer;
  background-position:45% 80%;
  font-size: 20px;
}
.id_halloween2 {
	background: linear-gradient(-45deg, #f77f0e, #ee420e, #b44828, #e7b65b);
	background-size: 300% 500%;
	animation: gradient 2s ease infinite;
  min-height: 100px;
  max-height: 150px;
  min-width: 100px;
  max-width: 150px;
  border-style: outset;
  border-color: linear-gradient(-45deg, #d21fd8, #f05ecb, #f88cf3, #b7f571);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  opacity: 80%;
  transition: 400ms;
  overflow: hidden;

}
.id_halloween2:hover {
  transform:scale(1.05);
  opacity: 100%;
  cursor:pointer;
  background-position:45% 80%;
  font-size: 20px;
}

.flex_id {
  display: flex;
  flex-wrap: wrap;
}

.id_licz {
  z-index: 24240;
  color: rgb(0, 0, 0);
}
.eventclass {
  background-color: #f39d9d;
  position: relative;
  top: -600px;

  display: flex;
  width: 940px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 4000;
}
.eventmain {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
.zakup {
  background-color: #161413;
  height: 150px;
  width: 50px;
  flex: 33%;
  margin: 5px;
  position: relative;
  left: 5%;
  border-radius: 15px;
}
.zakup2 {
  background-color: #161413;
  height: 150px;
  width: 50px;
  flex: 66%;
  margin: 5px;
  position: relative;
  left: 5%;
  border-radius: 15px;
}
.hallowe {
  position: relative;
  left: 9px;
  top: 12px;
  transition: 100ms;
}
.hallowe:hover {

  transform: scale(1.05);
}



.inventor {
  background-color: #2a3236;
  position: absolute;
  top: 15%;
  left: 15%;
  display: flex;
  width: 70%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 4000;
}
.itemlist {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
.itembox {
  background-color: rgba(45, 45, 45, 1);
  background-image: radial-gradient(circle, rgba(45, 45, 45, 1) 0%, rgba(0, 0, 0, 1) 77%);
  border-radius: 10%;
  width: 250px;
  height: 250px;

  margin: 10px;
  transition: 300ms;
	background-size: 300% 500%;
}
.itembox:hover {
  transform:scale(1.1);
  background-position:45% 80%;
  cursor: pointer;
  border-color: #FAE31E;
  border-style: solid;
  border-width: 1px;
}
.iteminfo {
  color:#FAE31E;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 20%;
}
.itemikona {

  margin: auto;
  width: 50%;

  height: 50%;
}
.itemopcja {
  height: 15%;
  display: flex;
  position: relative;
  top: 15%;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.itemdodaj {
  border-style: outset;
  border-color: #49d154;
  flex: 50%;
  border-radius: 10%;
  margin: 2px;
  transition: 1000ms;
}
.itemusun {
  border-style: outset;
  border-color: #a01212;
  flex: 50%;
  border-radius: 10%;
  margin: 2px;
  transition: 1000ms;
}
.itemdodaj:hover {
  transform:scale(1.1);
  background-position:45% 80%;
  cursor: pointer;
  background-color: #39D529;
  background-image: radial-gradient(circle, #39D529 0%, #70FF61 77%);
  opacity:80%;
}
.itemusun:hover {
  transform:scale(1.1);
  background-position:45% 80%;
  cursor: pointer;
  background-color: #E01010;
  background-image: radial-gradient(circle, #BF2121 0%, #9C1515 77%);
  opacity:80%;
}
.itemdodaj:active {
	animation: gradient 1s ease infinite;
  background-image: radial-gradient(circle, #39D529 0%, #70FF61 77%);
	background-size: 400% 400%;
}
.itemusun:active {
	animation: gradient 1s ease infinite;
  background-image: radial-gradient(circle, #BF2121 0%, #9C1515 77%);
  background-size: 400% 400%;
}
.itemcount {
  position: relative;
  top: -50px;
  left: 33%;
  font-size: 20px;
  color:#9C1515;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.itemanimation {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 500px;
  transition-duration: 300ms;
}
.itemanimation:hover {
  transform:scale(1.05);
  transform: rotate(5deg);
}
.index{
  background-color: #2a3236;
  position: absolute;
  top: 15%;
  left: 25%;
  display: flex;
  max-width: 1200px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 4000;
}
.indexzdjecie {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 500px;

}
.eventitem {
  background-color: rgb(236, 204, 204);
  background-image: radial-gradient(circle, rgb(245, 183, 183) 0%, rgb(226, 127, 127) 77%);
  border-radius: 10%;
  width: 250px;
  height: 250px;

  margin: 10px;
  transition: 300ms;
	background-size: 300% 500%;
}
.eventitem:hover {
  transform:scale(1.1);
  background-position:45% 80%;
  cursor: pointer;
  border-color: #f7f4df;
  border-style: solid;
  border-width: 1px;
}
.eventname {
  text-align: center;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(240, 214, 214);
  height: 10%;
}
.eventimage {
  position: relative;
  top: -20px;
  left: 50px;
  height: 100px;
}
.eventbutton {
  height: 40px;
  width: 150px;
  background-color: #ffdddd;
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  border-radius: 20px;
  border-color: rgb(250, 107, 94);
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.eventbox {
  background-color:   rgb(235, 221, 221);
  width: 60%;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-color: rgb(250, 107, 94);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  margin: 10px;
}
.eventimagechallenge {
  border-color: rgb(226, 14, 14);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  position: relative;
  top: 25px;
  left: 25px;
  background-color: rgb(253, 202, 202);
}
.eventchallengetext {
  text-align: center;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(204, 14, 14);
  height: 10%;
  top: -120px;
  left: 40px;
  position: relative;
}
.eventchallengetext2 {
  text-align: center;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(22, 21, 21);
  height: 10%;
  top: -320px;
  left: 40px;
  position: relative;
}
.eventprogressbar {
  height: 30px;
  width: 200px;
  max-width: 80%;
  display: block;
  margin: auto;
  margin-top: 20vh;
  position: relative;
  background: #f07979;
  padding: 3px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  position:relative;
  top: -290px;
  left: 50px;
  border-radius: 10px;
}
#eventbar1 {
  display: block;
  height: 100%;
  width: 0px;
  background-color: rgb(248, 248, 248);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  position: relative;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  color: white;
  transition: all 700ms ease;
  border-radius: 10px;
}
#eventbar2 {
  display: block;
  height: 100%;
  width: 0px;
  background-color: rgb(248, 248, 248);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  position: relative;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  color: white;
  transition: all 700ms ease;
  border-radius: 10px;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
@-webkit-keyframes gradient {
  0%{background-position:59% 0%}
  50%{background-position:42% 100%}
  100%{background-position:59% 0%}
}
@-moz-keyframes gradient {
  0%{background-position:59% 0%}
  50%{background-position:42% 100%}
  100%{background-position:59% 0%}
}
@keyframes gradient {
  0%{background-position:59% 0%}
  50%{background-position:42% 100%}
  100%{background-position:59% 0%}
}

.particleButton {
	z-index: 1;
	color: var(--buttonFontColor);
	padding: 0em;
	font-size: var(--buttonFontSize);
	position: absolute;
	width: 90px;
	height: 90px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1, 1);

	background-color: unset;
	background: var(--buttonColor0);
	pointer-events: all;
	cursor: pointer;
	border-radius: 50%;
	border-width: 0px;
	box-sizing: border-box;
	transition: box-shadow ease-out 0.3s, transform 0.1s ease-in;
	box-shadow: 0px 0px 0px 5px var(--buttonColor2),
		0px 0px 0px 9px var(--buttonColor1),
		inset 0px 0px 0px 0px var(--buttonColor2);
}
.particleButton:hover:not(:active) {
	transition: 0.1s ease-in-out all;
	box-shadow: 0px 0px 0px 8px var(--buttonColor2),
		0px 0px 0px 14px var(--buttonColor1),
		inset 0px 0px 0px 0px var(--buttonColor2);

	transform: translate(-50%, -50%) scale(0.95, 0.95);
}
.particles {
	z-index: -1;
	background: none !important;
	pointer-events: none;
	cursor: pointer;
	box-shadow: none;
}
.particles::after {
	position: absolute;
	content: "";
	left: -105px;
	top: -105px;
	min-width: 300px;
	min-height: 300px;
	pointer-events: none;
	transition: background-size ease-in-out 0.5s,
		background-position ease-in-out 0.5s;
	background-repeat: no-repeat;
	overflow: hidden;
}

.particleButton:active {
	transition: box-shadow ease-out 0.1s, background-size ease-in-out 0.1s,
		background-position ease-in-out 0.1s;
	box-shadow: 0px 0px 0px 0px var(--buttonColor2),
		0px 0px 0px 5px var(--buttonColor1),
		inset 0px 0px 0px 5px var(--buttonColor2);

	transform: translate(-50%, -50%) scale(0.9, 0.9);
}
.particleButton:active ~ .particles::after {
	animation: none;
	background-size: 0;
}
.theButton.animated::after { 
    animation: theButtonAnimation linear 1.65s forwards;
    background-image: 
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
    url('bawelna.png'),
        url('bawelna.png'),
        url('bawelna.png'),
        url('bawelna.png'),
        url('bawelna.png'),
        url('bawelna.png'),
        url('bawelna.png'),
            url('bawelna.png'),
            url('bawelna.png'),
            url('bawelna.png'),
            url('bawelna.png'),
            url('bawelna.png'),
            url('bawelna.png'),
            radial-gradient(circle, rgba(102, 187, 106, 1) 5%, transparent 5%);
} 
@keyframes theButtonAnimation {
    0% {
        
        background-size: 53px 53px,57px 57px,53px 53px,57px 57px,57px 57px,50px 50px,50px 50px,54px 54px,54px 54px,57px 57px,55px 55px,57px 57px,54px 54px,57px 57px,56px 56px,56px 56px,53px 53px,55px 55px,50px 50px,50px 50px,52px 52px,57px 57px,56px 56px,55px 55px,53px 53px,55px 55px,51px 51px,52px 52px,57px 57px,57px 57px;
        background-position: 530px 485px,518px 492px,516px 504px,512px 517px,499px 520px,494px 535px,481px 533px,467px 525px,456px 522px,445px 516px,436px 510px,421px 507px,415px 498px,412px 483px,418px 471px,421px 461px,422px 450px,420px 434px,433px 429px,443px 421px,454px 416px,465px 417px,477px 414px,491px 415px,502px 423px,513px 426px,520px 440px,526px 450px,527px 459px,522px 471px;
    }
    12.5% {
        
        background-size: 10px 10px,10px 10px,10px 10px,10px 10px,10px 10px,9px 9px,9px 9px,10px 10px,10px 10px,11px 11px,11px 11px,10px 10px,10px 10px,10px 10px,10px 10px,10px 10px,10px 10px,10px 10px,9px 9px,9px 9px,9px 9px,11px 11px,10px 10px,10px 10px,9px 9px,10px 10px,9px 9px,10px 10px,11px 11px,10px 10px;
        background-position: 653px 448px,479px 602px,617px 676px,586px 675px,504px 478px,447px 635px,414px 548px,510px 440px,504px 664px,372px 655px,474px 442px,199px 610px,414px 419px,346px 637px,522px 477px,329px 470px,521px 525px,249px 338px,176px 432px,582px 427px,552px 497px,277px 303px,552px 249px,679px 223px,785px 496px,502px 351px,512px 216px,663px 288px,615px 377px,699px 558px;
    }
    25% {
        
        background-size: 2px 2px,1px 1px,1px 1px,1px 1px,2px 2px,1px 1px,1px 1px,1px 1px,1px 1px,2px 2px,2px 2px,1px 1px,1px 1px,1px 1px,2px 2px,2px 2px,2px 2px,1px 1px,1px 1px,1px 1px,1px 1px,2px 2px,1px 1px,2px 2px,1px 1px,1px 1px,1px 1px,1px 1px,2px 2px,1px 1px;
        background-position: 633px 424px,544px 455px,651px 764px,597px 735px,453px 541px,432px 562px,587px 517px,473px 550px,531px 662px,336px 700px,459px 572px,-2px 676px,510px 556px,331px 716px,476px 499px,348px 480px,489px 480px,101px 251px,-57px 433px,470px 525px,447px 430px,107px 211px,594px 128px,828px 50px,997px 561px,460px 431px,475px 31px,742px 153px,589px 359px,774px 604px;
    }
    37.5% {
        
        background-size: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-position: 471px 516px,599px 537px,664px 819px,586px 748px,514px 417px,618px 476px,525px 567px,532px 455px,520px 520px,326px 705px,573px 497px,-195px 734px,404px 556px,338px 758px,543px 492px,558px 502px,511px 497px,-37px 169px,-281px 431px,497px 388px,478px 561px,-56px 124px,627px 24px,967px -118px,1193px 622px,609px 562px,435px -143px,807px 29px,495px 453px,811px 634px;
    }
    50% {
        
        background-size: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-position: 458px 656px,468px 434px,666px 853px,560px 718px,545px 574px,637px 529px,535px 401px,460px 537px,386px 388px,343px 676px,470px 508px,-383px 790px,554px 500px,361px 772px,460px 547px,660px 496px,469px 510px,-169px 90px,-502px 430px,549px 506px,460px 465px,-214px 40px,657px -68px,1102px -282px,1382px 681px,628px 512px,395px -309px,866px -87px,545px 645px,824px 652px;
    }
    62.5% {
        
        background-size: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-position: 494px 658px,556px 414px,659px 869px,517px 627px,427px 476px,471px 496px,520px 517px,542px 471px,358px 396px,398px 604px,565px 465px,-568px 845px,527px 608px,400px 756px,490px 428px,620px 493px,548px 503px,-298px 13px,-719px 429px,412px 437px,504px 585px,-368px -42px,684px -151px,1235px -444px,1567px 739px,433px 527px,355px -471px,922px -199px,591px 650px,815px 661px;
    }
    75% {
        
        background-size: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-position: 514px 498px,419px 513px,645px 868px,521px 375px,543px 490px,459px 360px,403px 453px,461px 517px,423px 469px,588px 434px,429px 454px,-751px 899px,509px 451px,452px 702px,565px 542px,390px 516px,447px 468px,-423px -61px,-935px 427px,522px 430px,556px 460px,-520px -122px,709px -228px,1367px -605px,1749px 796px,422px 621px,316px -630px,975px -306px,579px 564px,784px 658px;
    }
    87.5% {
        
        background-size: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-position: 390px 387px,432px 429px,623px 849px,568px 284px,494px 468px,515px 392px,529px 553px,530px 491px,642px 506px,686px 378px,507px 554px,-932px 952px,612px 503px,518px 564px,423px 523px,352px 528px,535px 560px,-546px -135px,-1149px 426px,406px 532px,507px 547px,-670px -201px,733px -300px,1497px -764px,1930px 854px,504px 568px,278px -787px,1026px -410px,375px 476px,729px 642px;
    }
    100% {
        
        background-size: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-position: 363px 411px,492px 588px,595px 809px,596px 255px,533px 561px,427px 579px,448px 580px,475px 503px,677px 479px,727px 361px,449px 483px,-1112px 1005px,458px 484px,404px 363px,530px 428px,487px 504px,497px 423px,-667px -207px,-1362px 425px,435px 435px,543px 426px,-819px -279px,755px -368px,1628px -922px,2109px 910px,433px 388px,239px -942px,1076px -512px,322px 516px,636px 602px;
    }} 
.theButton.particles::after {
    left: -455px;
    top: -455px;
    min-width: 1000px;
    min-height: 1000px;
}
.theButton {
    width: 90px;
    height: 90px;
    background: rgba(102, 187, 106, 1);
    color: rgba(20.999999999999996, 20.999999999999996, 20.999999999999996, 1);
    border-radius: 50px;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0), 0px 0px 0px 9px rgba(0,0,0,0), inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
@keyframes orbit { 
  from { transform:rotate(0deg) } 
  to { transform:rotate(360deg) } 
  }
